*{
	margin: 0px;
	padding: 0px;
    box-sizing: border-box;
}

body{
	font-family: 'Poppins';
}

.contenedor-nav{
	background-image: linear-gradient(to right, #df1d12 0%, #df2012 100%);
}

.logo img{
	display: flex;
	margin: 0 auto;
	padding: 20px 0;
	width: 400px;
}

.enlaces-header{
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	padding: 10px 250px 30px 250px;
}
.enlaces-header a{
	text-decoration: none;
	color: #fff;
	font-size: large;
	border: solid 1px #fff;
	padding: 5px 20px;
	border-radius: 30px;
	transition: all 150ms;
}
.enlaces-header a:hover{
	color: #df1d12;
	background-color: #fff;
	font-size: large;
	transition: all 150ms;
}

/* ----------------------  SLIDES ----------------------- */
/* Slideshow container */
.slideshow-container {
	max-width: 100%;
	position: relative;
	margin: auto;
}
  
/* Hide the images by default */
.mySlides {
display: none;
}

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -22px;
padding: 16px;
color: white;
font-weight: bold;
font-size: 48px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #717171;
}

/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

/* -------------------- Acerca de nosotros ------------- */
.acerca-nosotros{
	display: flex;
	background: #1D1D1B;
}
.foto1{
	margin: 50px;
	padding: 0 50px;
	width: 800px;
}
.texto1{
	width: 40%;
	margin: 50px;
	color: #fff;	
}
.texto1 h1{
	display: flex;
	justify-content: center;
	margin: 0 20px;
	font-family: 'Bebas Neue';
	font-size: 1.5cm;
	font-weight: bold;
	letter-spacing: 2px;
}
.texto1 p{
	display: flex;
	justify-content: center;
	width: 65%;
	font-size:x-large;
	margin: 20px auto;
	
}
.texto1 a{
	display: flex;
	justify-content: center;
	width: 50%;
	margin: 20px auto;
	padding: 7px 0;
	font-size:large;
	border: solid 1px #fff;
	border-radius: 50px;
	color: #fff;
	text-decoration: none;
	transition: all 150ms;
}
.texto1 a:hover{
	background: #fff;
	color: #000;
	transition: all 150ms;
}

/* -------------- Productos ----------------- */
.productos-menu h1{
	background: #df1d12;
	color: #fff;
	margin: 30px 0;
	padding: 0 30px;
	font-size: 1.5cm;
}
/* .cont-product1{
	display: flex;
}
.cont-product2{
	display: flex;
} */
.cont-productos{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	/* padding: 40px 0; */
	padding-bottom: 40px;
	max-width: 100%;
	margin: auto;
}
.cont-productos .product{
	position: relative;
	width: 320px;
	margin: 30px;
}

/* ----------- Ficha Técnica ----------- */
.ficha{
	background: #000;
	color: #fff;
}
.ficha a{
	text-decoration: none;
	color: #fff;
	transition: all 150ms;
}
.ficha a:hover{
	color: rgb(255, 181, 181);
	transition: all 150ms;
}
.ficha h1{
	display: flex;
	justify-content: center;
	font-family: 'Bebas Neue';
	font-weight: bold;
	padding: 40px 0;
	font-size: 2cm;
	letter-spacing: 2px;
}

/* ------------------------ FLECHA ARRIBA --------------------------- */
#arriba {
	position: relative;
	bottom: 200px;
  }
  
  .btn-flotante {
	  border-radius: 50px; /*Borde del boton*/
	  position: fixed;
	  bottom: 40px;
	  right: 5%;
	  transition: all 300ms ease 0ms;
	  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	color: #000;
	  
  }
  .btn-flotante:hover {
	  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	  transform: translateY(-7px);
	
  }
  @media only screen and (max-width: 600px) {
	   .btn-flotante {
		  font-size: 14px;
		  padding: 12px 20px;
		  bottom: 20px;
		  right: 20px;
	  }
  }

/* --------- footer ------------- */
.contacto{
	display: flex;
	background: #f1f2f4;
}
.contacto .contactanos{
	margin: 60px 60px 0 60px;
	
}
.contacto .contactanos h1{
	font-family: 'Bebas Neue';
	font-size: 2cm;
	font-weight: bold;
	letter-spacing: 2px;
}
.contacto .contactanos p{
	margin: 20px 0 40px 0;
	font-size: 0.7cm;
}
.facebok{
	display: flex;
	padding: 0 40px;
} 
.istagran{
	display: flex;
	padding: 0 40px;
} 
.ws{
	display: flex;
	padding: 0 40px;
}
.img-footer img{
	width: 80%;
}
.logo-footer{
	background-image: linear-gradient(to right, #df1d12 0%, #df2012 100%);
	padding: 20px 80px;
}

/* ================== VENTANA NOSOTROS =================== */
.negocios{
	display: flex;
	padding: 40px 80px;
	background: #df1d12;
}
.cont-negocios{
	background-color: #fff;
	display: flex;
}
.texto3{
	width: 50%;
	padding: 0 100px;
	margin: 50px;
}
.texto3 h1{
	display: flex;
	justify-content: center;
	padding: 40px 0;
	font-size: .9cm;
}
.texto3 p{
	font-size: .6cm;
	text-align: justify;
}
.img-negoc img{
	margin: 40px;
	height: 400px;
}

.porque{
	background: #df1d12;
	color: #fff;
}
.titulo-porque h1{
	display: flex;
	font-family: 'Bebas Neue';
	justify-content: center;
	margin: 0 auto;
	font-size: 2cm;
	font-weight: bold;
	letter-spacing: 3px;
	text-align: justify;
}
.txtporque p{
	display: flex;
	justify-content: center;
	margin: 10px 100px 0 100px;
	font-size: 26px;
	text-align: justify;
	border-top: 5px solid #fff;
	border-bottom: 5px solid #fff;
	padding-top: 30px;
	padding-bottom: 30px;
}
.logo-footer a{
	display: flex;
	justify-content: center;
	margin: 0 auto;
	padding: 30px 0;
}

/* ================= PRODUCTOS ==================== */
.titulo-productos h1{
	display: flex;
	justify-content: right;
	margin: 0 200px;
	padding: 20px 0;
	font-family: 'Bebas Neue';
	font-size: 2cm;
	letter-spacing: 2px;
}
.list-products{
	display: flex;
	margin: 0 20px;
	padding: 30px 0;
	border-top: 4px solid #000;
}
.prod1 img{
	width: 80%;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}
.prod1 p{
	display: flex;
	justify-content: center;
	margin: 0 auto;
	padding: 20px 0;
	font-size: x-large;
	font-weight: bold;
}
/* ---------------------------------------------------- */
.standar-mockup{
	display: flex;
	margin: 0 80px;
	align-items: center;
}
.polvo-mockup{
	padding: 110px 0;
}
.blanqueador-mockup{
	padding: 110px 0 130px 0;
}
.imgStd img{
	width: 500px;
}
.title-mockup{
	display: flex;
	justify-content: center;
	margin: 0 auto;
	align-items: center;
	/* padding-top: 100px; */
}
.title-mockup img{
	height: 100px;
}
.title-mockup h1{
	display: flex;
	padding: 15px 0 0 20px;
	font-family: 'Bebas Neue';
	font-size: 2cm;
}

.parrafo-mockup p{
	display: flex;
	justify-content: center;
	margin: 0 100px;
	font-size: x-large;
	text-align: justify;
	padding-top: 20px;
}
.parrafo-mockup h3{
	display: flex;
	justify-content: center;
	margin: 30px 100px 0 100px;
	font-family: 'Bebas Neue';
	font-size: x-large;
	letter-spacing: 2px;
	padding: 20px;
	width: 270px;
	background: #000;
	color: #fff;
}
.parrafo-mockup a {
	text-decoration: none;
}
.tittlePolvo h1{
	display: flex;
	font-family: 'Bebas Neue';
	font-size: 2cm;
	justify-content: center;
	margin: auto;
	font-weight: bold;
	letter-spacing: 2px;
}
.tittlePorcelana h1{
	display: flex;
	font-family: 'Bebas Neue';
	font-size: 2cm;
	justify-content: center;
	margin: auto;
	font-weight: bold;
	letter-spacing: 2px;
}
.colormax h1{
	padding-right: 15px;
}

.empaste{
	padding-top: 90px;
	padding-bottom: 80px;
}

/* ======== VENTANA FICHA TÉCNICA ========= */
.descargas{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	/* padding: 40px 0; */
	padding-bottom: 40px;
	max-width: 100%;
	margin: auto;
}
.descargas .ficha-ventana{
	position: relative;
	width: 320px;
	margin: 30px;
}
.descargas .ficha-ventana img{
	width: 320px;
}
.descargar_ficha{
	display: flex;
	justify-content: center;
	margin: 0 auto;
	/* padding: 20px 0; */
	font-size: x-large;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #000;
}
.descargar_ficha:hover{
	color: #df1d12;
}

/*--------------------- Breakpoints responsive ------------------------*/

@media screen and (max-width:800px) {
	.logo img{
		margin: 0 auto;
		padding: 20px 0;
		width: 80%;
	}
	.enlaces-header{
		padding: 0;
	}
	.enlaces-header a{
		padding: 5px 5px;
		border-radius: 10px;
	}
	/* ------------------------ */
	.foto1{
		display: none;
		width: 100px;
	}
	.texto1{
		width: 80%;
	}
	.texto1 h1{
		font-size: 30px;
	}
	.texto1 p{
		font-size: large;
		margin: 0;
		width: 100%;
	}
	.ficha h1{
		font-size: 30px;
	}
	.contacto{
		width: 100%;
	}
	.contacto .contactanos{
		margin: 10px;
	}
	.contacto .contactanos h1{
		font-size: 30px;
	}
	.contacto .contactanos p{
		font-size: 20px;
		width: 300px;

	}
	.img-footer{
		display: none;
	}
	.facebok, .istagran, .ws{
		padding: 1px;
	}
	.facebok img{
		width: 50px;
		padding: 0px 0px;
	}
	.istagran img{
		width: 50px;
		padding: 0px;
	}
	.ws img{
		width: 50px;
		padding: 0px;
	}
	/* ------------------ */
	.titulo-porque h1{
		font-size: 30px;
	}
	.txtporque p{
		font-size: large;
		margin: 0 30px;
	}
	.img-negoc img{
		display: none;
	}
	/* --------------------- */
	.titulo-productos h1{
		font-size: 30px;
	}
	.imgStd img{
		width: 370px;
	}
	.prod1 img{
		width: 40%;
	}
	.title-mockup img{
		width: 30%;
		height: 30%;
	}
	.title-mockup h1, 
	.tittlePolvo h1, 
	.tittlePorcelana h1{
		font-size: 40px;
	}
	.texto3 {
		width: 90%;
		padding: 0;
	}
	.texto3 h1{
		font-size: 30px;
	}
	.texto3 p{
		font-size: large;
	}
	.negocios {
		padding: 40px 7px;
	}
	.list-products{
		display: none;
	}
	.texto1 a{
		width: 100%;
		padding: 7px 20px;
	}
	.standar-mockup{
		flex-direction: column;
	}
	.btn-flotante, .fas, .fa-3x, .fa-arrow-circle-up{
		display:none;
		padding: 0;
		position: relative;
	}
	.parrafo-mockup p{
		font-size: large;
	}
	.tittleEmpaste{
		flex-direction: column;
	}
}
